@charset "UTF-8";

.titulo{
	margin: 20px auto 30px auto;
}

#header a{
	color: #337ab7;
}

.btn-adicionar-materia{
	text-align: right;
	margin-bottom: -2px;
}

.clear{
	clear:both;
}

.center{
	margin: 0 auto;
	text-align: center;
}

.filtros{
	margin: 10px auto 0px auto;
}